@model DAL.Models.SPG_SUBFUNCTION;
@{
    ViewData["Title"] = "EditFunction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("EditFunction", "Function", Model, FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Create Function</p>
                    <div class="forms-sample">
                        <div class="form-group row ">

                            <div class="col">
                                <label for="Country">Country</label>
                                <input class="form-control" disabled asp-for="COUNTRY_NAME" value="@Model.COUNTRY_NAME">                               
                            </div>
                            <div class="col">
                                <label for="FunctionName">Function Name</label>
                                <input disabled type="text" class="form-control" id="functionName"
                                       name="FUNCTION_NAME" value="@Model?.FUNCTION_NAME"
                                       placeholder="Function Name" maxlength="30" onkeydown="return /[a-zA-Z]/i.test(event.key)">
                                @* @Html.ValidationMessageFor(model => model.FUNCTION_NAME) *@
                                <span asp-validation-for="@Model.FUNCTION_NAME" class="text-danger" style="font-size:10px"></span>
                            </div>
                            <div class="col">
                                <label for="subFunctionName">Subfunction</label>
                                @if (Model != null)

                                {


                                    @Html.HiddenFor(m => m.SUBFUNCTION_ID)
                                }
                                <input disabled type="text" class="form-control" id="subFunctionName"
                                       name="SUBFUNCTION_NAME" value="@Model?.SUBFUNCTION_NAME"
                                       placeholder="Sub function name" onkeydown="return /[a-zA-Z]/i.test(event.key)">
                                @* @Html.ValidationMessageFor(model => model.SUBFUNCTION_NAME) *@
                                <span asp-validation-for="@Model.SUBFUNCTION_NAME" class="text-danger" style="font-size:10px"></span>

                            </div>
                            <div class="col">
                                <label for="activeFlag">Active Flag</label>
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                               id="activeFlag" name="ACTIVE_FLAG" class="form-check-input"
                                        checked="@(Model?.ACTIVE_FLAG == "Y" ? true : false)" >
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <label class="label" style="color:red;">@ViewBag.ErrorMsg</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-light mr-2" onclick="location.href='@Url.Action("Function", "Function")'">Cancel</button>
                      
                        <button type="submit" name="Command" value="Update" class="btn btn-primary">Update</button>
                    
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="~/assists/js/hoverable-collapse.js"></script>
