@model Sponge.ViewModel.SubjectArea
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="~/assists/js/hoverable-collapse.js"></script>
    <script src="~/js/subjectarea/createsubjectarea.js"></script>
</head>
<form id="createSubjectFormID" onsubmit="return saveSubjectArea(event)">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Subject Area</h4>
                    <form class="forms-sample">
                        <div class="form-group row ">
                            <div class="col">
                                <label for="SubFunction">Sub Function<span style="color:red">*</span></label>
                                <select required asp-for="SpgSubjectArea.SUBFUNCTION_ID" class="form-control" id="SubFunction" name="SUBFUNCTION_ID">
                                    <option selected value="" disabled>Select</option>
                                    @foreach (var f in ViewBag.SubFunction)
                                    {
                                        <option value="@f.Text">@f.Value</option>
                                    }
                                </select>
                                <span asp-validation-for="SpgSubjectArea.SUBFUNCTION_ID" class="text-danger" style="font-size:10px"></span>
                            </div>
                            <div class="col">
                                <label asp-for="SpgSubjectArea.SUBJECTAREA_NAME">SubjectArea <span style="color:red">*</span></label>
                                <input required asp-for="SpgSubjectArea.SUBJECTAREA_NAME" maxlength="45" type="text" class="form-control" id="SubjectAreaName" name="SUBJECTAREA_NAME" onkeydown="return /[a-z0-9_]/i.test(event.key)" />
                                <span style="font-size:10px">Please enter only uppercase A-Z, lowercase a-z, numbers 0-9, or underscore _</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label asp-for="SpgSubjectArea.REPORTING_PERIOD" for="ReportPeriod">Report Period<span style="color:red">*</span></label>
                                <div class="input-group">
                                    <select required asp-for="SpgSubjectArea.REPORTING_PERIOD" class="form-control" id="ReportPeriod" name="REPORTING_PERIOD">
                                        <option selected value="" disabled>Select</option>
                                        <option value="CURRENT">Current</option>
                                        <option value="NEXT">Next</option>
                                        <option value="PREVIOUS">Previous</option>
                                    </select>
                                    <div class="input-group-append" aria-describedby="popover-basic">
                                        <span class="input-group-text" data-toggle="popover" data-placement="top" title="Help" data-content="Reporting Period for which template should be generate.">
                                            <i class="fas fa-question-circle text-primary"></i>
                                        </span>
                                    </div>
                                </div>
                                <span asp-validation-for="@Model.SpgSubjectArea.REPORTING_PERIOD" class="text-danger" style="font-size:10px"></span>
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="SpgSubjectArea.FREQUENCY" for="Frequency">Frequency<span style="color:red">*</span></label>
                                <div class="input-group">
                                    <select required asp-for="SpgSubjectArea.FREQUENCY" class="form-control" id="Frequency" name="Frequency">
                                        <option selected value="" disabled>Select</option>
                                        <option value="YEARLY">Yearly</option>
                                        <option value="HALF_YEARLY">Half Yearly</option>
                                        <option value="QUARTERLY">Quarterly</option>
                                        <option value="MONTHLY">Monthly</option>
                                        <option value="WEEKLY">Weekly</option>
                                        <option value="DAILY">Daily</option>
                                    </select>
                                    <div class="input-group-append" aria-describedby="popover-basic">
                                        <span class="input-group-text" data-toggle="popover" data-placement="top" title="Help" data-content="Frequency when template will be generated.">
                                            <i class="fas fa-question-circle text-primary"></i>
                                    </span>
                                    </div>
                                </div>                               
                                <span asp-validation-for="SpgSubjectArea.FREQUENCY" class="text-danger" style="font-size:10px"></span>
                                
                            </div>
                            <div class="col-sm-4">
                                <label for="ForTime">For Time<span style="color:red">*</span></label>
                                <div class="input-group">
                                    <select required class="form-control" id="ForTime" name="TIME_LEVEL">
                                        <option disabled selected value="">Select</option>
                                        @if (Model != null)
                                        {
                                            @Html.DropDownListFor(m => m.SpgSubjectArea.TIME_LEVEL, ViewBag.Timelevel as List<SelectListItem>, new { @disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.SpgSubjectArea.TIME_LEVEL, ViewBag.Timelevel as List<SelectListItem>, new { @class = "form-control" })
                                        }                                    
                                    </select>
                                    <div class="input-group-append" aria-describedby="popover-basic">
                                        <span class="input-group-text" data-toggle="popover" data-placement="top" title="Help" data-content="Template will generate for which period.">
                                            <i class="fas fa-question-circle text-primary"></i>
                                    </span>
                                    </div>
                                </div>
                                <span asp-validation-for="SpgSubjectArea.TIME_LEVEL" class="text-danger" style="font-size:10px"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label asp-for="SpgSubjectArea.ACTIVE_FLAG" for="Active">Active<span style="color:red">*</span></label>
                                <select required asp-for="SpgSubjectArea.ACTIVE_FLAG" class="form-control" id="Active" name="ACTIVE_FLAG">
                                    <option selected value="" disabled>Select</option>
                                    <option value="Y">Active</option>
                                    <option value="N">Inactive</option>
                                </select>
                                <span asp-validation-for="SpgSubjectArea.ACTIVE_FLAG" class="text-danger" style="font-size:10px"></span>
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="SpgSubjectArea.VERSION" for="Version">Keep Version</label>
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input asp-for="SpgSubjectArea.VERSION" type="checkbox" id="Version" name="Version" class="form-check-input">
                                    </label>
                                </div>
                                <span asp-validation-for="SpgSubjectArea.VERSION" class="text-danger" style="font-size:10px"></span>
                            </div>
                            <div class="col-sm-4" id="OnTimeDiv" style="display:none;">
                                <label for="OnTime">On Time</label>
                                <div class="input-group">
                                    <select class="form-control" id="OnTime" name="ONTIMELEVEL"></select>
                                    <div class="input-group-append" aria-describedby="popover-basic">
                                        <span class="input-group-text" data-toggle="popover" data-placement="top" title="Help" data-content="Ontime when template will be uploaded.">
                                        <i class="fas fa-question-circle text-primary"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-light mr-2" onclick="location.href='@Url.Action("ManageSubjectArea", "SubjectArea")'">Cancel</button>
                        
                        <button id="saveFormData" type="submit" name="Command" value="Save"  class="btn btn-primary">Save</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>


