@model Sponge.ViewModel.SubjectArea
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/subjectarea/createsubjectarea.js"></script>
</head>
@* @using (Html.BeginForm("SaveSubjectArea", "SubjectArea", Model, FormMethod.Post, new { id = "createSubjectFormID" })) *@

<form asp-controller="SubjectArea" asp-action="SaveSubjectArea" method="post" id="createSubjectFormID">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Subject Area</h4>
                    <form class="forms-sample">
                        <div class="form-group row ">
                            <div class="col">
                                <label for="SubFunction">Sub Function</label>
                                <select required asp-for="SpgSubjectArea.SUBFUNCTION_ID" class="form-control" id="SubFunction" name="SUBFUNCTION_ID">
                                    <option selected value="">Select</option>
                                    @foreach (var f in ViewBag.SubFunction)
                                    {
                                        <option value="@f.Text">@f.Value</option>
                                    }
                                </select>
                                <span asp-validation-for="SpgSubjectArea.SUBFUNCTION_ID" class="text-danger" style="font-size:10px"></span>
                            </div>
                            <div class="col">
                                <label asp-for="SpgSubjectArea.SUBJECTAREA_NAME">Subject Area Name</label>
                                <input required asp-for="SpgSubjectArea.SUBJECTAREA_NAME" type="text" class="form-control" id="SubjectAreaName" name="SUBJECTAREA_NAME" onkeydown="return /[a-zA-Z]/i.test(event.key)" />
                                <span asp-validation-for="SpgSubjectArea.SUBJECTAREA_NAME" class="text-danger" style="font-size:10px"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label asp-for="SpgSubjectArea.REPORTING_PERIOD" for="ReportPeriod">Report Period</label>
                                <select required asp-for="SpgSubjectArea.REPORTING_PERIOD" class="form-control" id="ReportPeriod" name="REPORTING_PERIOD">
                                    <option selected value="">Select</option>
                                    <option value="CURRENT">Current</option>
                                    <option value="NEXT">Next</option>
                                    <option value="PREVIOUS">Previous</option>
                                </select>
                                <span asp-validation-for="@Model.SpgSubjectArea.REPORTING_PERIOD" class="text-danger" style="font-size:10px"></span>
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="SpgSubjectArea.FREQUENCY" for="Frequency">Frequency</label>
                                <select required asp-for="SpgSubjectArea.FREQUENCY" class="form-control" id="Frequency" name="Frequency">
                                    <option selected value="">Select</option>                                    
                                    <option value="YEARLY">Yearly</option>
                                    <option value="HALF_YEARLY">Half Yearly</option>
                                    <option value="QUARTERLY">Quarterly</option>
                                    <option value="MONTHLY">Monthly</option>
                                    <option value="WEEKLY">Weekly</option>
                                    <option value="DAILY">Daily</option>
                                </select>
                                <span asp-validation-for="SpgSubjectArea.FREQUENCY" class="text-danger" style="font-size:10px"></span>
                            </div>
                            <div class="col-sm-4">
                                <label for="ForTime">For Time</label>
                                <select required class="form-control" id="ForTime" name="TIME_LEVEL">
                                    <option disabled selected value="">Select</option>
                                    @if (Model != null)
                                    {
                                        @Html.DropDownListFor(m => m.SpgSubjectArea.TIME_LEVEL, ViewBag.Timelevel as List<SelectListItem>, new { @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.SpgSubjectArea.TIME_LEVEL, ViewBag.Timelevel as List<SelectListItem>, new { @class = "form-control" })
                                    }
                                </select>
                                <span asp-validation-for="SpgSubjectArea.TIME_LEVEL" class="text-danger" style="font-size:10px"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label asp-for="SpgSubjectArea.ACTIVE_FLAG" for="Active">Active</label>
                                <select required asp-for="SpgSubjectArea.ACTIVE_FLAG" class="form-control" id="Active" name="ACTIVE_FLAG">
                                    <option selected value="">Select</option>
                                    <option value="Y">Active</option>
                                    <option value="N">Inactive</option>
                                </select>
                                <span asp-validation-for="SpgSubjectArea.ACTIVE_FLAG" class="text-danger" style="font-size:10px"></span>
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="SpgSubjectArea.VERSION" for="Version">Version</label>
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input asp-for="SpgSubjectArea.VERSION" type="checkbox" id="Version" name="Version" class="form-check-input">
                                    </label>
                                </div>
                                <span asp-validation-for="SpgSubjectArea.VERSION" class="text-danger" style="font-size:10px"></span>
                            </div>
                            <div class="col-sm-4" id="OnTimeDiv" style="display:none;">
                                <label for="OnTime">On Time</label>
                                <select class="form-control" id="OnTime" name="ONTIMELEVEL"></select>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div>
                                <label class="label" style="color:red;">@ViewBag.ErrorMsg</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-light mr-2" onclick="location.href='@Url.Action("ManageSubjectArea", "SubjectArea")'">Cancel</button>
                        
                        @* <button id="validateFormBtnID" name="ValidateForm" class="btn btn-primary">Save</button> *@
                        <button id="saveFormData" type="submit" name="Command" value="Save" class="btn btn-primary">Submit</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>


