@model Sponge.ViewModel.SubjectArea
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <p class="card-title">
                    Edit Subject Area
                </p>
                <form action="@Url.Action("UpdateSubjectArea", "SubjectArea", new {id = Model.SpgSubjectArea.SUBJECTAREA_ID, activeFlag = Model.SpgSubjectArea.ACTIVE_FLAG})" method="post">
                    <div class="form-group row">
                        <div class="col-sm-4">
                        <label>Sub Function Name</label>
                        <input type="text" class="form-control" value="@Model.SpgSubfunction.SUBFUNCTION_NAME" readonly/>
                        </div>
                    
                        <div class="col-sm-4">
                        <label>SubjectArea Name</label>
                        <input type="text" class="form-control" value="@Model.SpgSubjectArea.SUBJECTAREA_NAME" readonly/>
                        </div>                  
                    
                        <div class="col-sm-4">
                        <label>Reporting Period</label>
                        <input type="text" class="form-control" value="@Model.SpgSubjectArea.REPORTING_PERIOD" readonly/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">
                        <label>Frequency</label>
                        <input type="text" class="form-control" value="@Model.SpgSubjectArea.FREQUENCY" readonly/>
                        </div>
                   
                        <div class="col-sm-4">
                        <label>ForTime</label>
                        <input type="text" class="form-control" value="@Model.SpgSubjectArea.TIME_LEVEL" readonly/>
                        </div>
                    
                        <div class="col-sm-4">
                        <label>Version</label>
                        <input type="text" class="form-control" value="@Model.SpgSubjectArea.VERSION" readonly/>
                        </div>
                    </div>
                    @if (@Model.SpgSubjectArea.VERSION == "Y")
                    {
                        <div class="form-group row">
                            <div class="col-sm-4">
                            <label>OnTime</label>
                            <input type="text" class="form-control" value="@Model.SpgSubjectArea.ONTIMELEVEL" readonly />
                            </div>
                        </div>
                    }                    

                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="Active">Active</label>
                            <select asp-for="SpgSubjectArea.ACTIVE_FLAG" class="form-control" id="Active" name="ACTIVE_FLAG">
                                <option selected>Select</option>
                                <option value="Y">Active</option>
                                <option value="N">Inactive</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-light mr-2" onclick="location.href='@Url.Action("ManageSubjectArea", "SubjectArea")'">Cancel</button>

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="~/assists/js/hoverable-collapse.js"></script>