@model List<Sponge.ViewModel.ApprovalModel>

@using (Html.BeginForm("save", "Approval", Model, FormMethod.Post))
{
    <div class="row" id="ApprovalGrid">
        <div class="col-md-12 stretch-card grid-margin">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">My Approvals</p>
                    <div class="forms-sample">
                        <div class="form-group row ">
                            <div class="col">
                                <label for="Search">Remarks</label>
                                <input type="text" name="comment" class="form-control" id="" placeholder="type here...">
                            </div>
                            <div class="col btn-align">
                                <button type="submit" id="btnApprove" value="Approve" name="command" class="btn btn-primary">Approve</button>
                                <button type="submit" id="btnReject" value="Reject" name="command" class="btn btn-primary">Reject</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="example" class="display expandable-table" style="width:100%">
                            <thead>
                                <tr>

                                    <th><input type="checkbox" id="selectAll"> Select All</th>
                                    <th>Assigned User</th>
                                    <th>Lock Date </th>
                                    <th>Upload Date </th>
                                    <th>Data Collection For</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count != 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><input type="checkbox" class="selectItem" name="SelectedChkBox" value="@item.Document.ID"></td>
                                            <td>@item.Users.Name</td>
                                            <td>@(item.Template.LOCK_DATE != null ? item.Template.LOCK_DATE.Value.ToString("MMM/dd/yyyy") : "")</td>
                                            <td>@(item.Document.UPLOADDATE != null ? item.Document.UPLOADDATE.Value.ToString("MMM/dd/yyyy") : "")</td>

                                            <td>@item.SubjectArea.SUBJECTAREA_NAME</td>
                                            <td>@Html.ActionLink("Download", "Download", new {configId = item.Configuration.CONFIG_ID, documentId = @item.Document.ID }, new { @class = "btn btn-primary" })</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" style="text-align:center">No Data Available</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="~/assists/js/hoverable-collapse.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnApprove").prop('disabled', true);
        $("#btnReject").prop('disabled', true);

        $('.selectItem').on('change', function () {
            var selectedItems = $('.selectItem:checked').length;
            if (selectedItems > 0) {
                $("#btnApprove").prop('disabled', false);
                $("#btnReject").prop('disabled', false);
            } else {
                $("#btnApprove").prop('disabled', true);
                $("#btnReject").prop('disabled', true);
            }
        });

        $('#btnApprove, #btnReject').on('click', function (e) {
            var selectedItems = $('.selectItem:checked').length;
            if (selectedItems < 1) {
                e.preventDefault();
                alert("Please select at least one checkbox to proceed.");
            }
        });

        $('#selectAll').on('change', function () {
            var isChecked = $(this).prop("checked");
            $('.selectItem').prop('checked', isChecked);
            $("#btnApprove").prop('disabled', !isChecked);
            $("#btnReject").prop('disabled', !isChecked);
        });

        $('#ApprovalGrid table').DataTable();
    });

    function DownLoadTemplate(configId, documentId) {
        ////debugger;

        var application = window.location.pathname.substr(1, window.location.pathname.lastIndexOf('/'));
        var url = "http://" + window.location.host + "/" + application + '/Download?documentId=' + documentId + "&configId=" + configId;
        window.location.href = url;
    }
</script>