@{
    ViewData["Title"] = "Data Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="ConfigureTemplate" asp-action="SaveDataFilterNext" type="post">
    <div class="row">
        <div class="col-md-12 stretch-card grid-margin">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">
                        Data Filter -> @ViewBag.ThisSubjectAreaName -> @ViewBag.ThisUserName
                    </p>
                    <div class="forms-sample" id="dataFilterFormID">
                        <div class="form-group row">
                            <div class="col ">
                                <label>
                                    <input hidden name="configID" value="@ViewBag.configID" />
                                    <label>Selected Dimensions:</label>
                                </label>

                                @* <div class="form-check-row">
                                @if (ViewBag.CheckIfSaved != null)
                                {
                                if(ViewBag.CheckIfSaved == true)
                                {
                                @foreach (var item in ((IEnumerable<SelectListItem>)ViewBag.Dimensions))
                                {
                                <div class="form-check form-check-flat form-check-primary">
                                <label class="form-check-label" id="@("S"+item.Value)" for=@item.Value>
                                @item.Text
                                <input disabled class="form-check-input" type="checkbox" id="@item.Value" name="dimensionSelect" value=@item.Value checked>
                                </label>
                                </div>
                                }
                                }
                                else
                                {
                                @foreach (var item in ((IEnumerable<SelectListItem>)ViewBag.Dimensions))
                                {
                                <div class="form-check form-check-flat form-check-primary">
                                <label class="form-check-label" id="@("S"+item.Value)" for=@item.Value>
                                @item.Text
                                <input class="form-check-input" type="checkbox" id="@item.Value" name="dimensionSelect" value=@item.Value >
                                </label>
                                </div>
                                }
                                }
                                }

                                </div> *@
                                <div class="form-check-row">

                                    @if (ViewBag.SavedDimensions != null)
                                    {
                                        @foreach (var item in ((IEnumerable<SelectListItem>)ViewBag.SavedDimensions))
                                        {
                                            <div class="form-check form-check-flat form-check-primary">
                                                <label class="form-check-label" id="@("S"+item.Value)" for=@item.Value>
                                                    @item.Text
                                                    <input disabled class="form-check-input" type="checkbox" id="@item.Value" name="dimensionSelect" value=@item.Value checked>
                                                </label>
                                            </div>
                                        }
                                    }
                                    @if (ViewBag.UnsavedDimensions != null)
                                    {
                                        @foreach (var item in ((IEnumerable<SelectListItem>)ViewBag.UnsavedDimensions))
                                        {
                                            <div class="form-check form-check-flat form-check-primary">
                                                <label class="form-check-label" id="@("S"+item.Value)" for=@item.Value>
                                                    @item.Text
                                                    <input class="form-check-input" type="checkbox" id="@item.Value" name="dimensionSelect" value=@item.Value>
                                                </label>
                                            </div>
                                        }
                                    }
                                </div>
                                <button style="margin-top:10px" disabled type="button" id="getSubDimensionsBTN" class="btn btn-primary float-left mb-3">
                                    Get Masters
                                </button>
                            </div>
                        </div>



                        <div class="form-group row" id="dropdownsContainer">
                        </div>
                        <div class="form-group row" id="selectionContainerID">
                        </div>
                        <button type="button" id="cancel" class="btn btn-light mr-2">Cancel</button>

                        <button type="submit" asp-action="SaveDataFilterNext" style="visibility:hidden" disabled id="submitSelectionsID" class="btn btn-primary float-right mb-3">
                            Next
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="~/assists/js/hoverable-collapse.js"></script>
<script>

    $(document).ready(function () {
        // function to check initial checkbox states of Masters
        function updateMastersButtonState() {
            var anyChecked = $('input[name="dimensionSelect"]:checked').length > 0;
            $('#getSubDimensionsBTN').prop('disabled', !anyChecked);
        }

        // Event listener for changes in checkbox state
        $('input[name="dimensionSelect"]').change(updateMastersButtonState);

        updateMastersButtonState();


        $('#cancel').click(function () {
            window.location.href = '@Url.Action("ConfigureTemplate","ConfigureTemplate")';
        });
        $('#getSubDimensionsBTN').click(function () {
            var dimensions = [];
            //debugger;
            $('input[name="dimensionSelect"]:checked').each(function () {
                var dimensionText = $("label[for=" + $(this).attr('id') + "]").text().trim();
                dimensions.push(dimensionText);
            });

            $.ajax({
                url: '@Url.Action("GetSubDimensionsList", "ConfigureTemplate")',
                type: 'POST',
                dataType: 'json',
                data: { dimensions: dimensions, configID: @ViewBag.configID },
                success: function (response) {
                    $('#dropdownsContainer').empty();
                    $.each(response.dimensionData, function (dimension, names) {
                        var templateArray = ['<div class="dropdown"><button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" data-boundary="viewport" data-display="dynamic" data-original-text="', dimension, '">', dimension, '</button><ul class="dropdown-menu dropdown-menu-bottom" style="height: 200px; overflow-y: auto;">'];
                        $.each(names, function (displayName, masterName) {
                            var id = dimension + '_name_' + displayName;
                            templateArray.push('<li><input type="checkbox" name="subDimensions" id="', id, '" class="', masterName, '" value="', displayName, '"><label for="', id, '">', displayName, '</label></li>');
                        });
                        templateArray.push('</ul></div>');
                        $('#dropdownsContainer').append($(templateArray.join('')));
                    });
                    $('#submitSelectionsID').css('visibility', 'visible');

                    // Check checkboxes for saved master names
                    $.each(response.savedMasterNames, function (i, masterName) {
                        $('.' + masterName).prop('checked', true);
                        $('.' + masterName).prop('disabled', true);
                    });

                    //function to check initial checkbox states of subdimensions
                    function updateNextButtonState() {
                        var anyChecked = $('input[name="subDimensions"]:checked').length > 0;
                        $('#submitSelectionsID').prop('disabled', !anyChecked);
                    }

                    $('input[name="subDimensions"]').change(updateNextButtonState);
                    updateNextButtonState();
                }
            });
        });

        $(document).on('click', '.dropdown-menu input[type="checkbox"]', function (event) {
            event.stopPropagation();
            var dropdown = $(this).closest('.dropdown');
            var count = dropdown.find('input[type="checkbox"]:checked').length;
            var originalText = dropdown.find('button').data('original-text');
            var submitButton = $('#submitSelectionsID');

            if (count > 0) {
                dropdown.find('button').text('Selected count: ' + count);
                submitButton.prop('disabled', false);
            } else {
                dropdown.find('button').text(originalText);
                submitButton.prop('disabled', true);
            }
        });

        $('form').on('submit', function (e) {
            e.preventDefault();

            var selectedDimensions = [];
            $('input[name="dimensionSelect"]:checked').each(function () {
                selectedDimensions.push($(this).val());
            });

            var selectedMasterNames = {};
            $('.dropdown > button').each(function () {
                var dimensionName = $(this).data('original-text');;
                selectedMasterNames[dimensionName] = [];

                // This is the corrected way to obtain the checked items of each dimension
                $(this).siblings('.dropdown-menu').find('input[type="checkbox"]:checked').each(function () {
                    selectedMasterNames[dimensionName].push($(this).attr('value'));
                });
            });

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: JSON.stringify({
                    configId: $('input[name="configID"]').val(),
                    dimensions: selectedDimensions,
                    masterNames: selectedMasterNames
                }),
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    window.location.href = response;
                },
                error: function (error) {
                    // handle error
                }
            });
        });
    });
</script>

