@{
    ViewData["Title"] = "Data Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="ConfigureTemplate" asp-action="SaveDataFilterNext" type="post">
    <div class="row">
        <div class="col-md-12 stretch-card grid-margin">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">
                        Data Filter -> @ViewBag.ThisSubjectAreaName -> @ViewBag.ThisUserName
                    </p>
                    <div class="forms-sample" id="dataFilterFormID">
                        <div class="form-group row">
                            <div class="col ">
                                <label>
                                    <input hidden name="configID" value="@ViewBag.configID" />
                                    <label>Selected Dimensions:</label>
                                </label>
                                
                                <div class="form-check-row">
                                    @if (ViewBag.CheckIfSaved != null)
                                    {
                                        if(ViewBag.CheckIfSaved == true)
                                        {
                                            @foreach (var item in ((IEnumerable<SelectListItem>)ViewBag.Dimensions))
                                            {
                                                <div class="form-check form-check-flat form-check-primary">
                                                    <label class="form-check-label" id="@("S"+item.Value)" for=@item.Value>
                                                        @item.Text
                                                        <input disabled class="form-check-input" type="checkbox" id="@item.Value" name="dimensionSelect" value=@item.Value checked>
                                                    </label>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (var item in ((IEnumerable<SelectListItem>)ViewBag.Dimensions))
                                            {
                                                <div class="form-check form-check-flat form-check-primary">
                                                    <label class="form-check-label" id="@("S"+item.Value)" for=@item.Value>
                                                        @item.Text
                                                        <input class="form-check-input" type="checkbox" id="@item.Value" name="dimensionSelect" value=@item.Value >
                                                    </label>
                                                </div>
                                            }
                                        }
                                    }
                                    
                                </div>
                            </div>
                        </div>

                        <button type="button" id="getSubDimensionsBTN" class="btn btn-primary float-left mb-3">
                            Get Masters
                        </button>

                        <div class="form-group row" id="dropdownsContainer">
                        </div>
                        <div class="form-group row" id="selectionContainerID">
                        
                        </div>

                        <button type="submit" asp-action="SaveDataFilterNext" style="visibility:hidden" id="submitSelectionsID" class="btn btn-primary float-right mb-3">
                            Next
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {
        $('#getSubDimensionsBTN').click(function () {
            var dimensions = [];
            debugger;
            $('input[name="dimensionSelect"]:checked').each(function () {
                var dimensionText = $("label[for=" + $(this).attr('id') + "]").text().trim();
                dimensions.push(dimensionText);
            });

            $.ajax({
                url: '@Url.Action("GetSubDimensionsList", "ConfigureTemplate")',
                type: 'POST',
                dataType: 'json',
                data: { dimensions: dimensions },
                success: function (response) {
                    $('#dropdownsContainer').empty();
                    $.each(response, function (dimension, names) {
                        var templateArray = ['<div class="dropdown"><button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" data-boundary="viewport" data-display="dynamic" data-original-text="', dimension, '">', dimension, '</button><ul class="dropdown-menu dropdown-menu-bottom" style="height: 200px; overflow-y: auto;">'];
                        $.each(names, function (i, name) {
                            var id = dimension + '_name_' + i;
                            templateArray.push('<li><input type="checkbox" id="', id, '" value="', name, '"><label for="', id, '">', name, '</label></li>');
                        });
                        templateArray.push('</ul></div>');
                        $('#dropdownsContainer').append($(templateArray.join('')));
                        $('#submitSelectionsID').css('visibility', 'visible');
                    });
                }
            });
        });

        $(document).on('click', '.dropdown-menu input[type="checkbox"]', function (event) {
            event.stopPropagation();
            var dropdown = $(this).closest('.dropdown');
            var count = dropdown.find('input[type="checkbox"]:checked').length;
            var originalText = $(this).prevAll('button').data('original-text');
            dropdown.find('button').text(count ? 'Selected count: ' + count : originalText);
        });

        $('form').on('submit', function (e) {
            e.preventDefault();

            var selectedDimensions = [];
            $('input[name="dimensionSelect"]:checked').each(function () {
                selectedDimensions.push($(this).val());
            });

            var selectedMasterNames = {};
            $('.dropdown > button').each(function () {
                var dimensionName = $(this).data('original-text');;
                selectedMasterNames[dimensionName] = [];

                // This is the corrected way to obtain the checked items of each dimension
                $(this).siblings('.dropdown-menu').find('input[type="checkbox"]:checked').each(function () {
                    selectedMasterNames[dimensionName].push($(this).attr('value'));
                });
            });

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: JSON.stringify({
                    configId: $('input[name="configID"]').val(),
                    dimensions: selectedDimensions,
                    masterNames: selectedMasterNames
                }),
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    window.location.href = response;
                },
                error: function (error) {
                    // handle error
                }
            });
        });
    });
</script>

