@model Sponge.ViewModel.SetupUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
@using (Html.BeginForm("SaveSetUp", "ConfigureTemplate", Model, FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Setup</p>
                    <div class="forms-sample">
                        <div class="form-group row ">
                            <div class="col">
                                <label for="Name">Assigned To</label>
                                <input type="text" value="@ViewBag.Result.NAME" class="form-control" id="Name"
                                       readonly style="font-display:block; font-style:normal">
                            </div>
                            <div class="col">
                                <label for="SUBJECTAREA_NAME">Subject Area Name</label>
                                <input type="text" value="@ViewBag.Result.SUBJECTAREA_NAME" class="form-control" id="SUBJECTAREA_NAME"
                                       readonly>
                            </div>
                            <div class="col">
                                <label for="FREQUENCY">Frequency</label>
                                <input type="text" value="@ViewBag.Result.FREQUENCY" class="form-control" id="FREQUENCY"
                                       readonly>
                            </div>
                            <div class="col">
                                <label for="TIME_LEVEL">ForTime</label>
                                <input type="text" value="@ViewBag.Result.TIME_LEVEL" class="form-control" id="TIME_LEVEL"
                                       readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col">
                                <label for="Active">Active</label>
                                <select class="form-control" id="Active" name="ACTIVE_FLAG">
                                    <option selected value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="scheduled">Scheduled</label>
                                <select class="form-control" id="Scheduled" name="SCHEDULED">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>

                            <div class="col">
                                <label for="lockDate">Lock Date</label>
                                <input required type="number" min="0" max="30" value="@ViewBag.Result.LOCK_DATE" class="form-control" name="LOCK_DATE" id="lockDate">days after template generation date
                            </div>
                        </div>

                        <div class="form-group row" id="IsScheduled" style="display:none">

                            <div class="col">
                                <label for="scheduled">Month</label>
                                <select required class="form-control" id="PatternMonth" name="PATTERN_MONTH">
                                    <option selected value="0">Select</option>
                                    @foreach (var f in ViewBag.Months)
                                    {
                                        <option value="@f.Value">@f.Text</option>


                                    }
                                </select>
                            </div>
                            <div class="col">
                                <label for="scheduled">Day</label>
                                <input required maxlength="2" type="text" value="@ViewBag.Result.PATTERN" class="form-control" name="PATTERN" id="datewhich">day when template generated
                            </div>
                            <div class="col">
                                <label for="uploadReminder">Upload Reminder Date</label>
                                <input required type="number" min="0" max="15" value="@ViewBag.Result.REMMINDER_DATE" class="form-control" name="REMMINDER_DATE" id="uploadreminder">days after template generation date
                            </div>
                            <div class="col">
                                <label for="EscalationDate">Escalation  Date</label>
                                <input required type="number" min="0" max="15" value="@ViewBag.Result.ESCALATION_DATE" class="form-control" name="ESCALATION_DATE" id="Escalation">days after template generation date
                            </div>
                        </div>
                        <div>
                            @{
                                string dateEffective = "";
                                if (@ViewBag.Result.EFFECTIVE_TO != null)
                                {
                                    dateEffective = @ViewBag.Result.EFFECTIVE_TO.ToString("yyyy-MM-dd");
                                }
                            }
                            
                            <div id="EffectiveToDivID" class="col-md-3" style="display:none">
                                <label for="EffectiveToDate">Effective to Date</label>
                                <input min="@ViewBag.Result.Created_On.ToString("yyyy-MM-dd")" id="effectiveToDateID" name="EFFECTIVE_TO" type="date" value="@dateEffective" class="form-control" />
                            </div>
                        </div>
                        <h6 class="mt-5 mb-3">Add Approver Details</h6>
                        <div class="form-group row">
                            <div class="col">
                                <label for="approverEmailID">Approver Email ID</label>
                                <input required type="email" value="@ViewBag.Result.APPROVER_EMAILD" class="form-control" name="APPROVER_EMAILID" id="approverEmailID" name="c">
                                <div id="emailSuggestions" style="border:1px solid;display:none"></div>
                            </div>
                            <div class="col btn-align">
                                <button type="submit" id="getapprover" class="btn btn-primary">Get Approver Info</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label for="approverName">Approver Name</label>
                                <input type="text" rquired value="@ViewBag.Result.APPROVER_NAME" class="form-control" name="APPROVER_NAME" id="approverName"
                                       readonly>
                            </div>
                            <div class="col">
                                <label for="approverID">Approver ID</label>
                                <input type="email" value="@ViewBag.Result.APPROVER_ID" class="form-control" name="APPROVER_ID" id="approverID"
                                       readonly>
                            </div>
                        </div>
                        <div style="display:none">
                            <input hidden type="text" id="createdOnID" value="@ViewBag.Result.Created_On" />
                        </div>
                        <div>
                            <button class="btn btn-light mr-2">Cancel</button>
                            <button @* style="visibility:hidden" *@ type="submit" id="Savebutton" class="btn btn-primary">Save</button>
                        </div>
                        

                    </div>
                </div>
            </div>

        </div>

    </div>
    <input type="hidden" value="@ViewBag.Result.CONFIG_ID" name="configID" />
}

<script type="text/javascript">

    $(document).ready(function () {
        

        $("#Active").val('@ViewBag.Result.ACTIVE_FLAG');
        if ($("#Active").val() == 'N') {  
            $('#EffectiveToDivID').show();
        }
        $("#Scheduled").val('@ViewBag.Result.SCHEDULED');
        
        $("#PatternMonth").val('@ViewBag.Result.PATTERN_MONTH');
        if ('@ViewBag.Result.FREQUENCY'.toUpperCase() == "YEARLY") {
            $("#PatternMonth").show();
        }
        if ('@ViewBag.Result.FREQUENCY'.toUpperCase() == "HALF_YEARLY") {
            $("#PatternMonth").show();
        }
        // The code to show effective to Date field on the form if value of Active is No
        $('#Active').on('change', function () {
            if($("#Active").val() == 'N'){ 
                $('#effectiveToDateID').val('');
                document.getElementById('effectiveToDateID').required = true;
                $('#EffectiveToDivID').show();
            }
            else {
                document.getElementById('effectiveToDateID').required = false;
                $('#EffectiveToDivID').hide();
            }
        });
        $('#effectiveToDateID').on('blur', function () {
            let createdOn = new Date($('#createdOnID').val());
            let effectiveToDate = new Date($(this).val());

            if (effectiveToDate < createdOn) {
                alert('Effective To Date should not be earlier than Created On Date');
                $(this).val('');  // Clear the input
            }

        });

        if ($("#Scheduled").val() == "Y") {
            $("#IsScheduled").show();
        } else {
            $("#IsScheduled").hide();
            document.getElementById('PatternMonth').required = false;
            document.getElementById('datewhich').required = false;
            document.getElementById('uploadreminder').required = false;
            document.getElementById('Escalation').required = false;

        }

        $("#Scheduled").change(function () {
            var Scheduled = $(this).val();
            if (Scheduled == "Y") {     
                $("#IsScheduled").show();
            }
            else {
                $("#IsScheduled").hide();
                document.getElementById('PatternMonth').selectedIndex = -1;
                document.getElementById('datewhich').value = '';
                document.getElementById('uploadreminder').value = '';
                document.getElementById('Escalation').value = '';
                document.getElementById('PatternMonth').required = false;
                document.getElementById('datewhich').required = false;
                document.getElementById('uploadreminder').required = false;
                document.getElementById('Escalation').required = false;
            }
        });
        $("#getapprover").click(function (e) {
            e.preventDefault(); // Prevent the button from submitting the form

            // Get the email
            var email = $("#approverEmailID").val();

            // Make an AJAX request to your action
            $.getJSON('/ConfigureTemplate/GetUserInfoByEmail', { email: email }, function (data) {
                if (data.userName == null || data.userId == null) {
                    alert('Unable to get details, please enter correct email');
                }
                else 
                { 
                    // Fill the approver name and ID fields with the returned data
                    $("#approverName").val(data.userName);
                    $("#approverID").val(data.userId);
                }

            });
        });
    });
//Email Autocomplete
    $('#approverEmailID').on('keyup', function () {
        var email = $(this).val();
        if (email == "") {
            $('#emailSuggestions').empty();
        }

        // Only make the AJAX call if at least 3 characters have been entered
        if (email.length >= 3) {
            $.ajax({
                url: '/User/GetEmailSuggestions',
                type: 'GET',
                data: { 'email': email },
                success: function (result) {
                    // clear old suggestions
                    $('#emailSuggestions').empty();
                    $('#emailSuggestions').show();

                    // loop through result and append to suggestions div
                    $.each(result, function (key, value) {
                        $('#emailSuggestions').append('<div class="suggestion">' + value + '</div>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error('An error occurred: ', error);
                }
            });
        }
    });

    // add click event to all suggestion divs
    $(document).on('click', '.suggestion', function () {
        var selectedEmail = $(this).text();
        $('#approverEmailID').val(selectedEmail);
        $('#emailSuggestions').empty();
    });
    // hide suggestions div when input loses focus, after a short delay
    var timeoutId;
    $('#approverEmailID').on('blur', function () {
        if ($('#approverEmailID').text() == '') 
        { 
            $("#approverName").val('');
            $("#approverID").val('');
        }
        timeoutId = setTimeout(function () {
            $('#emailSuggestions').hide();
        }, 500); // 500 ms delay
    });

    $(document).on('mousedown', '.suggestion', function () {
        clearTimeout(timeoutId);
    });

    // To prevent form from submitting if the approver details are blank
    $('#Savebutton').on('click', function (e) {
        if ($("#approverName").val() == '' || $("#approverID").val() == '') 
        { 
            e.preventDefault();
            alert('Please fill the approver details');
        }
        // if ($('#effectiveToDateID').val() == null || $('#effectiveToDateID').val() == '') 
        // {
        //     e.preventDefault();
        //     alert('Please select effective to date');
        // }


    });
</script>